html{
    height: 100%;
}


body{
    /*background-color: #9B9B7A;*/
    background-color: #797D62;
    background-size: cover;
    background-attachment: local;
}

.all{
margin-left: 200px;
margin-right: 200px;
width: 1024px;
background-color: rgb(255, 255, 255);


}

header{
    height: 118px;
   /* text-align: center;*/
    background-color: #f1dca77a;
    
}

nav{
   /* background-color: #fcf0d17a;
   background-color: #f1dca77a;*/
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    /*background-color: #797d628c;*/
    background-color: #9b9b7a;
   
}
main{

    height: 2100px;
    text-align: center;
    padding-top: 50px;
    
    padding-right: 100px;
    padding-left: 100px;
  /*  background-color: #fcf0d17a;*/
  background-color: #f1dca77a;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9b9b7a49;
}

.logoo{
    width: 130px ;
    
    height: 100px ;
/*margin-right: 1000px;*/

}

.aa{
    padding-left: 20px;
 text-align: center;
 color: #997B66;
}

.aaa{

    text-align: center;
    color: #F1DCA7;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
/*.................. all books page ............*/
.ro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cont{
    max-width: 5000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col img{
    width: 50%;
}
.col h4,p{
    font-size: 15px;
}
.rate .fa{
    color: #ff523b;
 }
.col:hover{
    color:#797D62;
}


.ro1{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.col button{
   border-radius: 5px;
}


/*form page */

.login{
    align-items: center;
    padding: 40px;
    margin: 50px;
    margin-top: 150px;
    background-color: rgb(245, 229, 189);
    width: 200px;
    height: 300px;
    border: solid;
    border-color: hsl(69, 12%, 50%);
    width: 7.5cm;
    
    /*flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;*/
}

.ibook {
    color:  #797D62;
    text-align: left;
}

td {
   border: black; 
}

.sub{
    size: 100px;
    background-color:#797D62 ;
    border: solid;
    border-color: black;
    border: 2px ;
    border-radius: 12px;
    width: 5cm;
    height: 0.65cm;
  
}
.under{
    border: solid;
    border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(60, 14%, 54%) hsla(0, 0%, 0%, 0) ; 
    /*background-color:  hsla(43, 73%, 90%, 0.478);*/
}

label {
    text-align: left;
}

.log{
    height:750px; 
}

.tw {
    border: solid;
    border-color: #1DA1F2;
    border-radius: 12px;
    width: 7px;
}
.fac {  
    border: solid;
    border-color: #3B5998;
    border-radius: 12px;
    size: 6px;
}
.gogle {
    border: solid;
    border-color: #E83323;
    border-radius: 12px;
}

.up{
    align-items: center;
    padding: 40px;
    margin: 50px;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 100px;
    background-color: rgb(245, 229, 189);
    /*width: 200px;*/
    height: 500px;
    border: solid;
    border-color: hsl(69, 12%, 50%);
    width: 7.5cm;
    
}
